{% block sw_cms_block_imageteaser_preview %}
    <div class="sw-cms-preview-imageteaser">
        <div class="sw-cms-preview-imageteaser_left">
            <div class="sw-cms-preview-imageteaser__image">
                <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-imageteaser__text">
                <h2>Lorem</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="sw-cms-preview-imageteaser_center_left">
            <div class="sw-cms-preview-imageteaser__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-imageteaser__text">
                <h2>Ipsum</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="sw-cms-preview-imageteaser_center_right">
            <div class="sw-cms-preview-imageteaser__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-imageteaser__text">
                <h2>Ipsum</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

        <div class="sw-cms-preview-imageteaser_right">
            <div class="sw-cms-preview-imageteaser__image">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-imageteaser__text">
                <h2>Dolor</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
{% endblock %}