.sw-cms-preview-imageteaser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 15px;

    .sw-cms-preview-imageteaser_left,
    .sw-cms-preview-imageteaser_center_left,
    .sw-cms-preview-imageteaser_center_right,
    .sw-cms-preview-imageteaser_right {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }

    .sw-cms-preview-imageteaser__image {
        height: 60px;
    }

    .sw-cms-preview-imageteaser__text {
        padding: 8px;
        text-align: center;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}